body {
   margin: 0;
   padding: 0;
}
#map {
   width: 100%;
   height: 100%;
}
.loading {
   background: url(../img/loading.gif);
}

@media screen and (min-width: 992px) {
   .icondesc {
      background: url(../img/icon.png);
      background-position: 0 0;
      background-size: 60px 60px;
      background-repeat: none;
      margin: 0;
      height: 60px;
      width: 60px;
   }
   .none {
      background: url(../img/icon-none.png);
      background-position: 0 0;
      background-size: 60px 60px;
      background-repeat: none;
   }

   .bikecount {
      position: absolute;
      top: -4px;
      left: 2px;
      font-size: 170%;
   }

   .standname {
      position: absolute;
      bottom: -3px;
      left: 2px;
      font-size: 75%;
   }
}

@media screen and (max-width: 991px) {
   .icondesc {
      background: url(../img/icon.png);
      background-position: 0 0;
      background-size: 100px 100px;
      background-repeat: none;
      margin: 0;
      height: 100px;
      width: 100px;
   }
   .none {
      background: url(../img/icon-none.png);
      background-position: 0 0;
      background-size: 100px 100px;
      background-repeat: none;
   }

   .bikecount {
      position: absolute;
      top: -8px;
      left: 2px;
      font-size: 350%;
   }

   .standname {
      position: absolute;
      bottom: -20px;
      left: 5px;
      font-size: 100%;
   }
}