html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#map {
   width: 100%;
   height: 100%;
}
#overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.4);
   background-size: 100% 60%;
   background-image: url(../img/loading.svg);
   background-repeat: no-repeat;
   z-index: 1000;
   color: white;
}

@media screen {
   .icondesc {
      background: url(../img/icon.png);
      background-position: 0 0;
      background-size: 60px 60px;
      background-repeat: none;
      margin: 0;
      height: 60px;
      width: 60px;
   }
   .none {
      background: url(../img/icon-none.png);
      background-position: 0 0;
      background-size: 60px 60px;
      background-repeat: none;
   }

   .bikecount {
      position: absolute;
      top: -4px;
      left: 2px;
      font-size: 170%;
   }

   .standname {
      position: absolute;
      bottom: -3px;
      left: 2px;
      font-size: 75%;
   }
}

.list-inline li {
   vertical-align: top;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */