/node_modules
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.testing
/_ide_helper_models.php
/.phpstorm.meta.php
/_ide_helper.php
/public/hot
/bower_components
/storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
/composer.lock
/storage/app/backups/dotenv-editor/
npm-debug.log
yarn-error.log
