<?php
error_reporting(0);
define('DEBUG',FALSE); // debug mode, TRUE to turn on
define('ERROR',1);

$systemName="OpenSourceBikeShare";
$systemURL="https://github.com/mmmaly/OpenSourceBikeShare"; // needs trailing slash!
$systemLat="48.148154"; // default map center point - latitude
$systemLong="17.117232"; // default map center point - longitude
$systemZoom="15"; // default map zoom

$countryCode = "421"; // international dialing code (country code prefix), no plus sign

$longrental=24; // in hours

$dbServer="localhost";
$dbUser="bikeshare";
$dbPassword="YourPassword";
$dbName="WB";

$connectors["sms"]="eurosms";
?>