<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <description>The coding standard for Open Source Bike Sharing.</description>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12"/>

</ruleset>