/* Sidebar container */
.leaflet-sidebar {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  z-index: 1000;
  transition: all 0.5s ease;
  padding: 0;
}

/* Sidebar positions */
.leaflet-sidebar.left {
  left: -500px;
}
.leaflet-sidebar.left.visible {
  left: 0;
}

.leaflet-sidebar.right {
  right: -500px;
}
.leaflet-sidebar.right.visible {
  right: 0;
}

/* Sidebar content */
.leaflet-sidebar > .leaflet-control {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 8px 24px;
  font-size: 1.1em;
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.leaflet-touch .leaflet-sidebar > .leaflet-control {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* Close button */
.leaflet-sidebar .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 31px;
  height: 31px;
  font-size: 45pt;
  line-height: 1em;
  text-align: center;
  color: #333;
  background: #fff;
  border-radius: 16px;
  cursor: pointer;
  z-index: 1001;
}

/* Responsive widths */
@media (max-width: 767px) {
  .leaflet-sidebar {
    width: 100%;
  }
  .leaflet-sidebar.left {
    left: -100%;
  }
  .leaflet-sidebar.left.visible {
    left: 0;
  }
  .leaflet-sidebar.right {
    right: -100%;
  }
  .leaflet-sidebar.right.visible {
    right: 0;
  }
  .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    border-radius: 0;
  }
  .leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: 0;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 100%;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
    width: 305px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 305px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 305px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar {
    width: 390px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 390px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 390px;
  }
}

@media (min-width: 1200px) {
  .leaflet-sidebar {
    width: 460px;
  }
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 460px;
  }
  .leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 460px;
  }
}

/* Transition support */
.leaflet-left {
  transition: left 0.5s;
}
.leaflet-right {
  transition: right 0.5s;
}
