{% block stands %}
    <div class="row">
        <div class="col-lg-12 mt-3">
            <div class="row" id="standsconsole">

            </div>
            {# stand card#}
            <div id="stand-card-template" class="d-none col-md-4 mb-4">
                <div class="card stand-card border">
                    <div class="card-header">
                        <span class="stand-name"></span>
                        <i class="fas fa-exclamation-triangle d-none service-stand"></i>
                        <i class="fas fa-ban d-none removed-stand"></i>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <img src="" alt="" class="stand-photo img-fluid d-none" />
                        </div>
                        <p class="stand-description"></p>
                        <a href="#" target="_blank" class="stand-location btn btn-primary btn-sm d-none">
                            {{ 'View on Google Maps'|trans }}
                        </a>
                        <p class="service-warning text-danger font-weight-bold d-none mt-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}