
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-select-stand-li {
  height: 50px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  margin: 0;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0;
}

.content-wrapper {
  margin-left: 0;
  min-height: calc(100vh - 101px);
}

.main-footer {
  margin-left: 0;
}

.sidebar-in {
  margin-left: 230px;
}

// select 2 update css styles
.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 34px;
  border-color: #d2d6de;
}

.select2 {
  min-width: 155px !important;
  width: 200px !important;
  margin-top: 10px;
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-top: -3px;
}

//
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

//
.bikes {

}
