{% extends 'base.html.twig' %}

{% block title %}{{ siteName }}|{{ 'Account activation'|trans }}{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
